<div *ngIf="working" class="overlay" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>

<mat-card>
  <h6 class="center"><strong>Lista articoli in giacenza</strong></h6>
  <mat-grid-list cols="1" class="center">

    <mat-form-field>
      <mat-select placeholder="Cliente di fatturazione" [(ngModel)]="selectedCodCliFatt">
        <mat-option *ngFor="let regCvRet of regCvRets" [value]="regCvRet.value">
          {{ regCvRet.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Articolo (inizia con...)" [(ngModel)]="selectedCodart" />
    </mat-form-field>

    <button mat-raised-button type="button" color="primary" (click)="resetFilter()">
      Reset
    </button>
    <button mat-raised-button type="button" color="primary" (click)="loadData()">
      Cerca
    </button>
  </mat-grid-list>
</mat-card>

<mat-card>
  <div class="mat-elevation-z8">
    <!-- <mat-form-field [hidden]="!gridItems">
        <input matInput (keyup)="onFilterTextChanged($event.target.value)"
               placeholder="Filter by name (or part of it)...">
      </mat-form-field> -->

    <table mat-table [dataSource]="gridItems" class="table-striped mat-elevation-z8" [hidden]="!gridItems" matSort
      (matSortChange)="loadData()" matSortActive="codart" matSortDirection="asc">

      <ng-container matColumnDef="magaGestDesc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Magazzino<br />gestionale</th>
        <td mat-cell *matCellDef="let gridItem"> {{gridItem.magaGestDesc}} </td>
        <td mat-footer-cell *matFooterCellDef>Totale</td>
      </ng-container>

      <ng-container matColumnDef="codArt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Articolo</th>
        <td mat-cell *matCellDef="let gridItem"> {{gridItem.codArt}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="qtaGiac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantita</th>
        <td mat-cell *matCellDef="let gridItem"> {{gridItem.qtaGiac}} </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totals?.qty | number: "":"en-US" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="valGiac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valore</th>
        <td mat-cell *matCellDef="let gridItem"> {{gridItem.valGiac | number : '1.2'}} </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totals?.value | number: "":"en-US" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataIns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data ultimo<br />ingresso</th>
        <td mat-cell *matCellDef="let gridItem"> {{ gridItem.dataIns | date: "dd/MM/yyyy" }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="dataUpd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data ultimo<br />aggiornamento</th>
        <td mat-cell *matCellDef="let gridItem"> {{ gridItem.dataUpd | date: "dd/MM/yyyy" }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>






      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
    ﻿
    <!-- Pagination directive -->
    <mat-paginator [hidden]="!gridItems" (page)="getData($event)" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons></mat-paginator>
  </div>


</mat-card>